:root {
    --cor-primaria: #213c4d;
    --cor-secundaria: #0060a7;
    --cor-terciaria: #b1d059;
    --cor-fundo: #2c343b;
    --cor-texto: #f5f5f5;
}

html, body {
    background-color: var(--cor-fundo);
}
body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: var(--cor-primaria);
}

.navbar-brand{
    color: var(--cor-texto);
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: var(--cor-terciaria);
}

.me-3 {
    color: var(--cor-texto);
    padding-right: 10px;
}